
{:paths ["source-code/cljs"]
 :deps  {bithandshake/reagent-api  {:git/url "https://github.com/bithandshake/reagent-api"
                                    :sha     "7bf8ec3deb105fae018cf5916c99ebcc86197a64"}
         org.clojure/clojurescript {:mvn/version "1.10.891"}}}
